<!DOCTYPE html>
<html lang="{{ currentSite.language }}">
    <head>
        {% block head %}
            <meta content="IE=edge" http-equiv="X-UA-Compatible">
            <meta charset="utf-8"/>
            <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" name="viewport">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"> 
            {{ include('_layouts/favicon') }}
            {% css "/assets/css/theme.css" %}
            
        {% endblock %}
    </head>

    <body {% if bodyClass is defined %}class="{{ bodyClass }}"{% endif %}>
       
        {% block body %}{% endblock %}
        
    </body>
</html>
