{% extends '_layouts/base' %}

{% block body %}


    {# Main content #}
    <main id="main" class="main" role="main">
     
        {% block content %}
        {% endblock %}
     
    </main>


{% endblock %}
