{% extends '_layouts/base' %}
{% set className = 'archives' %}

{% block body %}
  {% cache if not craft.app.config.general.devMode %}
    {# Main Nav #}
    {{ include('_layouts/components/header') }}
  {% endcache %}

    {# Main content #}
    <main id="main" class="{{className}} main" role="main">
      {{include('_parts/components/account/account-sidebar')}}
      {% block content %}
      {% endblock %}
    </main>

    {# Footer #}
  {% cache if not craft.app.config.general.devMode %}
    {{ include('_layouts/components/footer') }}
  {% endcache %}
{% endblock %}
